<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
<button type="button" class="btn btn-primary" style="margin-right: 15px" (click)="onClickButton()">Send POST Request</button>
<button type="button" class="btn btn-primary" style="margin-right: 15px" (click)="onClickLoad(1)">Load Scenario 1</button>
<button type="button" class="btn btn-primary" style="margin-right: 15px" (click)="onClickLoad(2)">Load Scenario 1</button>
<button type="button" class="btn btn-primary" (click)="onClickLoad(3)">Load Scenario 1</button>

<div class="p-grid">
  <div class="p-col">
    <h2>Request</h2>
    <json-editor #jsonEditorRequest [options]="editorOptionsRequest" [data]="requestData"></json-editor>
  </div>
  <div class="p-col">
    <h2>Response</h2>
    <json-editor #jsonEditorResponse [options]="editorOptionsResponse" [data]="responseData"></json-editor>
  </div>
  <div class="p-col">
    <h2>SignalR (websockets)</h2>
    <json-editor #jsonEditorSignalR [options]="editorOptionsResponse" [data]="responseSignalR"></json-editor>
  </div>
  <!--<div class="p-col"><ngx-json-viewer [json]="testJsonObjet"></ngx-json-viewer></div>-->
</div>
